
@{
    ViewData["Title"] = "Create";
}

<form method="post">

    <label>Title</label>
    <input type="text" name="title" style="" />
    <label>Sub-Title</label>
    <input type="text" name="sub-title" style="" />
    <label>tags</label>
    <input type="text" name="tags" style="" />
    <label>content</label>
    <textarea name="content" class="form-control2"></textarea>
    <input type="submit" />


</form>

